#one{
  width: 300x;
  height: 100px;
  padding-left: 60px;
  color: rgb(243, 215, 234);
}
h1{
    font-family: cursive;
    padding-left: 50px;
    padding-top: 100px;
    color: #DBD10D
}
h2{
    font-family: cursive;
    padding-left: 50px;
    color: #6EADFF;
}
p{
    font-family: Times New Roman;
    color: rgb(243, 215, 234);
    padding-left: 50px;
}
*{
    background-color: rgb(51, 51, 51)
}
#Home{
    font-size: 20px;
    padding-left: 1200px;
    color: rgb(230, 230, 230);
    transition: 0.4s ease-in-out;
}
#Home:hover{
color: orange;
}
#About{
    font-size: 20px;
    padding-left: 30px;
    color: rgb(230, 230, 230);
    transition: 0.4s ease-in-out;
}
#About:hover
{
color: orange;
}
#Contact{
    font-size: 20px;
    padding-left: 30px;
    color: rgb(230, 230, 230);
    transition: 0.4s ease-in-out;
}
#Contact:hover{
color: orange;
}
#Search{
    width: 200px;
    height: 40px;
    font-size: 18px;
    padding-right: 60px;
    color: rgb(251, 251, 251);
    background: transparent;
    border: 1px solid orange;
}
#Button{
    width: 100px;
    height: 40px;
    background-color:orange;
    color: white;
    border: 2px solid orange;
    transition: 0.4s ease-in-out; 
}
#Button:hover{
    color: black;
}
p1{
color: #6EADFF;
font-size: 20px;
padding-left: 50px;
font-family: cursive;
}
#image{
    padding-right: 500px;
}
#ContactLink{
    margin-top: 20px;
    margin-right: 80px;
    width: 100px;
    height: 40px;
    background: rgb(0, 128, 255);
    color: rgb(249, 250, 250);
    border: 2px solid rgb(0, 128, 255);
    transition: 0.4s ease;
    margin-left: 46px;  
}
#ContactLink:hover{
    background-color: orange;
    border: 2px solid orange;
}
#project{
    padding-left: 50px;
    color: #6EADFF;
    font-family: cursive;
    font-size: 20px;
}
#h3{
    color: aqua;
}
#p2{
    font-size: 16px;
   color: rgb(243, 215, 234);
   font-family: Times New Roman;
}
#link{
    color: white;
}
#ContactInfo{
    color: #6EADFF;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 50px;
    margin-bottom: 60px;
}
#p3{
    color: white;
    padding-bottom: 50px;
}
#GitHub{
    color: white;
    padding-right: 50px;
    padding-left: 50px;
}
#LinkedIn{
    color: white;
}