#one{
  width: 300x;
  height: 100px;
  padding-left: 60px;
  color: rgb(243, 215, 234);
}
h1{
    font-family: cursive;
    padding-left: 50px;
    padding-top: 100px;
    color: #DBD10D
}
h2{
    font-family: cursive;
    padding-left: 50px;
    color: #6EADFF;
}
p{
    font-family: Times New Roman;
    color: rgb(243, 215, 234);
    padding-left: 50px;
}
*{
    background-color: rgb(51, 51, 51)
}
#Home{
    font-size: 20px;
    padding-left: 1200px;
    color: rgb(230, 230, 230);
    transition: 0.4s ease-in-out;
}
#Home:hover{
color: orange;
}
#About{
    font-size: 20px;
    padding-left: 30px;
    color: rgb(230, 230, 230);
    transition: 0.4s ease-in-out;
}
#About:hover
{
color: orange;
}
#Contact{
    font-size: 20px;
    padding-left: 30px;
    color: rgb(230, 230, 230);
    transition: 0.4s ease-in-out;
}
#Contact:hover{
color: orange;
}
p1{
color: #6EADFF;
font-size: 20px;
padding-left: 50px;
font-family: cursive;
}
#image{
    padding-right: 500px;
}
#ContactInfo{
    color: #6EADFF;
    font-size: 20px;
    padding-left: 50px;
}
#p3{
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
}
#GitHub{
    font-size: 20px;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
}
#GitHub{
    width: 5px;
    font-size: 38px;
    padding-left: 10px;
    padding-right: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#Github{
    float:left;
    padding-left:60px;
    padding-right:2px;
}
#LinkedIn{
     width: 5px;
    font-size: 38px;
    padding-left:12px;
    font-size: 38px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
#Linked{
    float: left;
    padding-left: 60px;
}
#Mail{
font-size: 30px;
color: white;
padding-left: 133px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}