#one{
  width: 300x;
  height: 100px;
  padding-left: 60px;
  color: rgb(243, 215, 234);
}
h1{
    font-family: cursive;
    padding-left: 50px;
    padding-top: 100px;
    color: #DBD10D
}
h2{
    font-family: cursive;
    padding-left: 50px;
    color: #6EADFF;
}
p{
    font-family: Times New Roman;
    color: rgb(243, 215, 234);
    padding-left: 50px;
}
*{
    background-color: rgb(51, 51, 51)
}
#Home{
    font-size: 20px;
    padding-right: 100px;
    color: rgb(230, 230, 230);
}
#About{
    font-size: 20px;
    padding-right: 100px;
    color: rgb(230, 230, 230);
}
#Contact{
    font-size: 20px;
    padding-right: 750px;
    color: rgb(230, 230, 230);
}
#Search{
    font-size: 18px;
    padding-right: 100px;
    color: rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
}
#Button{
    background-color: rgb(230, 230, 230);
}
p1{
color: #6EADFF;
font-size: 20px;
padding-left: 50px;
font-family: cursive;
}
#image{
    padding-right: 500px;

}